body {
    font-family: 'Fjalla One', sans-serif;
    background-color: rgb(239,217,193);
    background-size: cover;
    background-position: center;
}

html {
    height: 100%;
}

.navbar-inverse .navbar-brand {
    color: white;
}
.jumbotron {
    background-color: rgba(233, 215, 193, 0);
    text-align: center;
}

.jumbotron h1 {
    font-size: 10rem;
}

h1 {
    padding-top: 50px;
}

#content {
    text-align: center;
    padding-top: 5%;
}

hr {
    width: 300px;
    color: dimgray;
}