body {
    font-family: 'Fjalla One', sans-serif;
    background-image: url(./Images/Coffee.jpg);
    background-size: cover;
    background-position: center;
}

html {
    height: 100%;
}
.navbar-inverse .navbar-brand {
    color: white;
}
.jumbotron {
    background-color: rgba(233, 215, 193, 0);
    text-align: center;
}

.jumbotron h1 {
    font-size: 10rem;
}

h1 {
    padding-top: 50px;
}

.dropdown-menu {
    background-color: rgb(16, 16, 16);
}

.dropdown-menu>li>a {
    color: grey;
}